# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# FastAPI / Uvicorn
*.log

# Virtual environments
venv/
env/
ENV/
.venv/

#models
# *.pth
# *.pkl

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Migrations
migrations/